<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <div class = "header">
          <div class = "header-text">
            <div class = "header-title" >
              <!-- <h1>{{ page.title | default: 'site.title' | default: "Michaela Philip" }}</h1> -->
              <h1>Michaela Philip</h1>
              <a href="https://ipa-reader.com/?text=m%C9%AA%CA%82e%C9%AAl%C3%A4%20%CB%88f%C9%AAl%C9%AAp"
                <i class="fa fa-volume-up" aria-hidden="true" style = "font-size: 150%" target="_blank"></i>
              </a>         
            </div>
            <div class = "header-navigation">
              <nav> 
                <ul class="main-menu">
                  <li><a href="/">Home</a></li>
                  <li><a href="/research">Research</a></li>
                  <li><a href="/teaching">Teaching</a></li>
                </ul>
              </nav>
            </div>
          </div>
          </div>
        </header>
        <section id="downloads" class="clearfix">
          {% if site.show_downloads %}
          <a href="{{ site.github.zip_url }}" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="{{ site.github.tar_url }}" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          {% endif %}
	{% if site.github.public %}
	  {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% else %}
          <a href="{{ site.github.owner_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% endif %}
	{% endif %}
        </section>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

      <footer>
        <div>
          <div class="socials">
            <li><a href="mailto:mphili6@emory.edu">
              <i class="fa fa-envelope-o" aria-hidden="true" style = "font-size: 200%" target="_blank"></i>
            </a></li>
            <li><a href="https://twitter.com/MichaelaPhilip">
              <i class="fa fa-twitter" aria-hidden="true" style = "font-size: 200%" target="_blank"></i>
            </a></li>
            <li><a href="https://github.com/michaela-philip">
              <i class="fa fa-github" aria-hidden="true" style = "font-size: 200%" target="_blank"></i>
            </a></li>
            <li><a href="https://linkedin.com/in/michaela-philip-9877971a1">
              <i class="fa fa-linkedin" aria-hidden="true" style = "font-size: 200%" target="_blank"></i>
            </a></li>  
          </div>
        This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.
        </div>  
      </footer>

      </div>
    </div>
  </body>
</html>
